<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{Admin/layouts/fragments :: head}">

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <head th:replace="~{Admin/layouts/fragments :: sidebar}">
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <head th:replace="~{Admin/layouts/fragments :: topbar}">
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                            <a th:href="@{/all_settings}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-eye fa-sm mr-2 text-white-50"></i>Settings</a>
                        </div>
                        <div class="row">
                            <div class="col-md-3 float-end">
                                <div class="alert  alert-dismissible fade show" role="alert"
                                     th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="fas fa-close mr-2 fa-sm text-white-50"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Content Row -->
                        <div class="row">
                            <!-- Content Column -->
                            <div class="col-lg-10 mb-4 mx-auto">

                                <!-- Project Card Example -->
                                <div class="card shadow-lg mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary text-center">New Invoice</h6>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/newInvoice}" method="post" th:object="${invoice}">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div class="form-group ">
                                                        <label for="type">User</label>
                                                        <div class="input-group">
                                                            <select class="form-control custom-select invoice" name="invoice" required>
                                                                <option th:value="q" th:disabled="disabled" th:selected="selected">
                                                                    Choose your option
                                                                </option>
                                                                <option th:each="fixed : ${fixed}"
                                                                        th:value="${fixed.user}"
                                                                        th:text="${fixed.user}"
                                                                        th:attr="
                                                                        vehicle=${fixed.vehicle},
                                                                        user=${fixed.user},
                                                                        service=${fixed.serviceType},
                                                                        booking=${fixed.bookingDate},
                                                                        pickup=${fixed.pickUpDate},
                                                                        amount=${fixed.amount},
                                                                        paid=${fixed.paid} ">

                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        <label for="email">Paid:</label>
                                                        <div class="inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="paid"
                                                                       name="paid"
                                                                       readonly
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group ">
                                                        <label for="email">Client:</label>
                                                        <div class="inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="users"
                                                                       name="user" th:field="*{user}"
                                                                       readonly
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group ">
                                                        <label for="email">Car Type:</label>
                                                        <div class="inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="vehicle"
                                                                       name="vehicle" th:field="*{vehicle}"
                                                                       readonly
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group ">
                                                        <label for="email">ServiceType:</label>
                                                        <div class="inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="service"
                                                                       name="service" th:field="*{service}"
                                                                       readonly
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group ">
                                                        <label for="email">Amount:</label>
                                                        <div class="inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="amount"
                                                                       name="amount"
                                                                       readonly
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group ">
                                                        <label for="email">Booking Date:</label>
                                                        <div class="inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="booking"
                                                                       name="booking" th:field="*{bookingDate}"
                                                                       readonly
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group ">
                                                        <label for="email">Pickup Date:</label>
                                                        <div class="inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="pickup"
                                                                       name="pickUpDate" th:field="*{pickUpDate}"
                                                                       readonly
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
<hr>
                                                <h6 class="m-0 font-weight-bold text-primary text-center">Add Sales</h6>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        <label for="type">Sales</label>
                                                        <div class="input-group">
                                                            <select class="form-control custom-select invoice" name="invoice" required>
                                                                <option th:value="q" th:disabled="disabled" th:selected="selected">
                                                                    Choose your option
                                                                </option>
                                                                <option th:each="sales : ${sales}"
                                                                        th:value="${sales.user}"
                                                                        th:text="${sales.user}"
                                                                        th:attr="
                                                                        spare=${sales.spare},
                                                                        amount=${sales.amount},
                                                                        quantity=${sales.quantity},
                                                                        total=${sales.totalAmount},
                                                                      ">

                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="button">
                                                <button class="btn btn-outline-dark btn-block" type="submit">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Ger's Garage</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<!-- Core plugin JavaScript-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/js/index.js}"></script>

<!-- Page level plugins -->
<script type="text/javascript">

  let invoice = document.querySelectorAll(".invoice");
  let user = document.querySelector("#users");
  let vehicle = document.querySelector("#vehicle");
  let service = document.querySelector("#service");
  let amount = document.querySelector("#amount");
  let booking = document.querySelector("#booking");
  let pickup = document.querySelector("#pickup");
  let paid = document.querySelector("#paid");

  invoice.forEach(inv => {
    inv.addEventListener("change", () => {
    let client = inv.options[inv.selectedIndex];
   // alert(client.getAttribute('amount'));
    user.value = client.getAttribute('user');
    vehicle.value = client.getAttribute('vehicle');
    service.value = client.getAttribute('service');
     booking.value = client.getAttribute('booking');
    pickup.value = client.getAttribute('pickup');
    amount.value = client.getAttribute('amount');
     paid.value = client.getAttribute('paid');



    });
});
</script>


</body>

</html>