*{
padding:0;
margin:0;
 box-sizing: border-box;
}
a{
text-decoration:none;
}

.fa-trash{
color:red;
}

:root{
--navbar-font-family : 'Montserrat', sans-serif;
--navbar-font-weight: 600;
--navbar-background-color:white;
}
html {
  scroll-padding-top: 18px;
}

body {
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;

}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  text-align: center;
  z-index: 10000;

  display: grid;
  place-items: center;
}
.headings h5 {
  position: relative;
  font-size: 15px;
  line-height: 2;
}

.headings h5::after {
  content: "";
  display: block;
  width: 60px;
  max-width: 70%;
  border-bottom: 2px solid rgb(122, 122, 122);
  margin: 2px auto 0;
}
.headings h5::before {
  content: "";
  display: block;
  width: 60px;
  max-width: 70%;
  border-bottom: 2px solid rgb(122, 122, 122);
  margin: 2px auto 0;
}




.loaded {
  animation: fadeOut 1s forwards ease-in-out;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.auth{
}

.navbar{
background:var(--navbar-background-color) !important;
}
.navbar ul li{
font-family: var(--navbar-font-family);
font-weight : var(--navbar-font-weight);

}
.nav1{ margin-right:20px;gap:5px;
}
.logo{
width:130px;
}

.navbar-collapse{
margin:0 auto;
}

.button-50 {
  appearance: button;
  background-color: #ff5757;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
 font-family: 'Montserrat', sans-serif;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.landing{
position:relative;
overflow:hidden;

}
.landing-image{
max-width: 800px !important;
 max-height: 700px !important;


}

.landing-image img{
width:100%;
height:100%
border:1px solid black;

}

.landing-text{
margin-top:40px;
padding-left:40px;

}

.landing-text h1{
font-size:70px;
font-family: 'Anton', sans-serif;
}
.landing-text h5{
font-size:15px;
font-weight:300;
font-family:-var(--navbar-font-family);
}


.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.button-7{
  align-items: center;
  background-color:#ebdfcf;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 8px;
  outline: none;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


.rate{
position:relative;
overflow:none;
margin-top:50px;

}
.rate .outer-box{
display:flex;
justify-content: center;
gap: 100px;
}

.outer-box .card{
text-align:center;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
min-width: 151px;
max-height: 150px;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
outline: none;
background: #ebdfcf;
}

.rate img{
height:50px;
width:50px;
border-radius:50%;
}





.about-us{
position:relative;
background:#f4f6f8;
padding:50px;
}



.about-us .headings{
padding:30px;
}

.inner{
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 20px;
}
.about-img{


}

.about-img img{
width:500px;
height:530px;
margin-top :-90px;
margin-right:50px;

}


.inner img{
border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
background-color:white;
width:80px;
}


.inner:hover {
animation: background-color .3s ease-in-out;
 background-color:white;


}

.services{
padding-top:30px;
position:relative;
background : url('/images/s.png');
}



.big{
display:flex;
justify-content: center;
gap: 30px;
position:relative;

}


.big .card{
margin-top:40px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
min-height:200px;
min-width:100px;
position:relative;
}
.serv-img img{
    width: 150px;
    background-color: #ffffff;

    position: absolute;
    top: -7px;
    left: 50%;
    transform: translate(-50%, -32px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.big .card:hover{
animation:scale 0.5s ease-in-out;
transform:scale(1.1);
}

.serv-text{
margin-top:100px;
text-align:center;
}

.footer {
  overflow: hidden;
  text-align: center;
  font-size: 0.9rem;
  font-family: "poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #FE0944;
  border: 1px solid #fff;
  text-align: center;
}

@media (min-width:480px) {
  .top{
    bottom: 10px;
    right: 30px;
  }

}

.top a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}

.contacts{
position:relative;
overflow:hidden;
}

.contacts img{
width:700px;
}

.contacts h6{
margin-top:150px;
}


@media(min-width:360px){
.nav1{
margin:0 auto;

}
.button-7{
margin-top:10px;

margin-bottom:10px;

width:100%;
}
.button-23,.button-50{
width:100%;
}

.button-23{
margin-right:0;
}
.button-50{
margin-top:10px;
}

.about-img img{
margin-left:50px;
    width: 500px;

}
.rate .outer-box {
display: flex;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;
}
.contacts img {
    width: 700px;

.big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    position: relative;
}
}

